body {
  background-color: #e3e3e3;
  padding-bottom: 2rem;
}

.App-header {
  background-color: white;
  height: 4rem;
  top: 0;
  color: white;
  border-bottom: 1px solid grey;
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
}

.App-logo {
  height: 4rem;
  width: auto;
  margin-left: 2rem;
  margin-right: 0;
  position: fixed;
  top: 0;
}

@media only screen and (min-width: 600px) {
  #search {
    position: relative;
    margin: auto;
    width: 45%;
  }
}

.search-bar {
  width: 100%;
}

h2 {
  font-size: 16.6px;
}

h3 {
  font-size: 15.5px;
}

main {
  margin-top: 6rem;
}


/* --------------------------------------------- MOBILE DEVICES -------------- */


@media only screen and (max-width: 600px) {
  #search {
    position: relative;
    left: 50%;
    margin: 0;
    width: 40%;
  }
}


/* ------------------------------------------------ COMMENT BOX ---------------- */


.individual-comment {
  border: 1px solid lightgrey;
  border-radius: 3.5px;
  background-color: white;
  padding-left: 2rem;
  padding-top: .7rem;
  height: 16rem;
  margin-bottom: 1rem;
}

.comment-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  width: 50rem;
  font-size: 15px;
}

.comment-top > a, p {
  margin-right: .5rem;
  margin-left: .5rem;
}

.comment-top > img {
  margin-right: 0;
  margin-left: 0;
}

.comment-body > h2 {
  font-size: 20px;
}

.subreddit-link {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.subreddit-link:hover {
  text-decoration: underline;
}

.author-link:hover, .subreddit-link:hover, .title-link:hover {
  text-decoration: underline;
}

.author-link, .comment-top > p {
  color: grey;
  text-decoration: none;
}

.title-link {
  color: black;
  text-decoration: none;
}

.profile-pic {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.comment-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  align-items: top;
}

.comment-body > h2 {
  flex-basis: 55%;
}

.comment-thumbnail {
  flex-basis: 20%;
  width: 3rem;
  object-fit: cover;
  max-height: 100%;
}

.like-count-box {
  flex-basis: 12%;
  background-color: lightblue;
}

.like-count-box > p {
  color: white;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
}

.spacer {
  flex-basis: 5%;
}

.comment-bottom {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.comment-bottom-link {
  width: 33%;
  height: inherit
}

.comment-bottom-link > button {
  width: 100%;
  height: 100%;
}


/* --------------------------------------------- HOME PAGE -------------- */

.threads {
  display: flex;
  max-width: 120rem;
  margin-left: 6rem;
  margin-right: 2rem;
}

.sidebar-thread {
  width: 20%;
}

.comments-thread {
  max-width: 70rem;
  margin-left: 1rem;
}



/* --------------------------------------------- CATEGORY SIDE BOX -------------- */

.category-box {
  display: flex;
  flex-direction: column;
}

.category-box > .active {
  color: #ff7518;
}

.category-box > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  background-color: inherit;
  font-size: 1.25rem;
  margin-top: 8px;
  width: 6.6em;
  height: 2.5rem;
  color: #474747;
  text-decoration: none;
}

.category-box > a:hover {
  color: #ff7518; 
  cursor: pointer;
}

.category-box > a > p {
  margin-left: 30px;
}



/* --------------------------------------------- SUBREDDIT SIDE BAR BOX -------------- */


#SRSB_1,
#SRSB_2,
#SRSB_5,
#SRSB_7,
#SRSB_11,
#SRSB_12,
#SRSB_13,
#SRSB_14,
#SRSB_15,
#SRSB_16,
#SRSB_17,
#SRSB_18,
#SRSB_19,
#SRSB_20,
#SRSB_21,
#SRSB_22,
#SRSB_23,
#SRSB_24 {
  display: none;
}

.subreddit-sidebar > h2 {
  text-transform: uppercase;
  border-bottom: 1px solid darkgrey;
  padding-bottom: 3px;
}

.subreddit-sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: 3.5px;
  padding-bottom: 1rem;
}

.SRSB-mini {
  text-decoration: none;
  height: 100%;
}

.SRSB-mini:hover {
  background-color: #ebebeb;
}

.SRSB-mini > button {
  width: 100%;
  border:none;
  background-color: inherit;
  display: flex;
  justify-content:left;
  align-items: center;
}

.SRSB-mini > button:hover {
  cursor: pointer;
}

.sidebar-profile-pic {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.SRSB-mini-right {
  text-align: left;
}

.SRSB-img-div {
  margin-right: 10px;
}

.SRSB-mini-right > p {
  margin-left: -1px;
}



/* --------------------------------------------- INDIVIDUAL COMMENT PAGE -------------- */

.main-card {
  margin-left: 3.5rem;
  display: flex;
}

.main-card-left-column {
  border-right: 2px solid darkgrey;
}

.main-card-main-column {
  margin-left: 2rem;
  margin-right: 7.5rem;
}

.main-card-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17%;
}

.main-card-top-section > a {
  text-decoration: none;
  color: black;
}

.main-card-top-section > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-left: 3.5rem;
  margin-bottom: 1rem;
}

.bc-item, .bc-item > a, .bc-item > a > button {
  border: none;
  text-transform: capitalize;
  border-radius: 15px;
}

.bc-item:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px darkgrey;
}

#user_fullname:hover {
  cursor:auto;
  box-shadow: none;
}

.comment-page-thread {
  max-width: 60rem;
  margin-left: 8rem;
  margin-right: 8rem;
  background-color: white;
}

.discussion-thread > h2 {
  margin-left: 3.5rem;
  font-size: 20px;
  margin-top: 3rem;
}

.discussion-card {
  background-color: #e3e3e3;
  width: 85%;
  margin-left: 3.5rem;
  border-left: 3px solid darkgray;
  padding-bottom: 0.9rem;
  padding-left: 1rem;
}

.discussion-card > p {
  padding-top: .8rem;
  font-weight: 620;
}

.discussion-card-bottom {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.discussion-card-bottom > a {
  width: 50%;
  height: 100%;
}

.discussion-card-bottom > a > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  text-transform: uppercase;
}

.discussion-card-bottom > a > button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px darkgrey;
}

